@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h2 style="font:italic bold 30px arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bruno Marques </h2>

    <div class="">
        <img src="~/Content/Img/Bruno.png" />
    </div>


    <h2 style="font:italic bold 15px arial"> FORMAÇÃO:</h2><p class="lead" , style="font: italic 18px verdana">
        Sou Engenheiro Civil de Formação com vários anos dedicado a área, em meio essa transição tive o privilegio de poder ser pai e foi quando 
        consegui colocar em pratica o que realmente gostava, a area da tecnologia isso me levou a aprofundar
        o meu conhecimento fazendo uma nova graduação em Analise de Sistemas e entrando de vez no ramo da tecnologia.
    </p>


    <h2 style="font:italic bold 15px arial">EXPERIÊNCIA:</h2><p class="lead" , style="font: italic 18px verdana">
        Desenvolvedor de software, com uma história iniciada a pouco, mas com muito estudo e força de vontade trabalho no setor de tecnologia
        da informação e serviços, trabalho em uma empresa de Sistema de Gestão, como: varejo, fiscal, contábil, depto.pessoal, alimentação e
        na área da saúde. Sou um profissional com perfil para liderança e trabalho em equipe, altamente produtivo e com facilidade de aprendizado.
        .
    </p>
    <p><a href="https://www.linkedin.com/in/bruno-marques-327523119/" class="btn btn-primary btn-lg">LinkdIn &raquo;</a></p>
    <p><a href="https://github.com/brunomarques123" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>

</div>

<footer>
    <p>&copy; @DateTime.Now.Year - Bruno Marques</p>
</footer>

